<div class="container" style="text-align: center
;">
  <p style="font-family: sans-serif; font-size: 32px;">Muhamad Rizki Ramadhan</p>
  <img src="img/cat.jpg" alt="catto" width="200" height="200">
  <p>Peserta WGS Bootcamp Batch 5 2023</p>
  <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laudantium deleniti perspiciatis, distinctio minus
    incidunt eligendi provident aut aliquam iusto minima? Libero, nobis! Culpa illum, ipsa soluta, pariatur ipsam
    aspernatur saepe obcaecati quos laborum nesciunt eum veritatis sed doloribus eligendi voluptates, harum dignissimos
    possimus cum beatae quisquam? Repellat, nesciunt libero dolor non qui hic labore corrupti quisquam quaerat aut
    deserunt officiis perspiciatis quae exercitationem aspernatur quia explicabo dolores ipsam veritatis doloremque
    molestias deleniti. Eum similique qui sint at earum odio saepe et? Quod beatae eos, impedit molestias omnis
    veritatis cumque a possimus, error necessitatibus accusantium vitae! Vel amet asperiores cumque nulla incidunt ex
    quia fuga dolore veniam praesentium! Est dicta illo deleniti obcaecati alias possimus soluta rerum temporibus id
    dolore labore quis, cumque fuga. Labore cumque voluptatum modi necessitatibus quas est facilis, accusamus quasi quia
    dolorem quo repellendus obcaecati rerum ut dicta? Nobis, perspiciatis ullam numquam adipisci at nisi suscipit,
    voluptatum debitis repellendus aliquid provident incidunt doloribus tenetur saepe nihil repellat id, consectetur
    sequi recusandae ratione hic! Aut quia magni alias officiis, non nobis ducimus assumenda quos explicabo aperiam vel
    cum ex dolorum deleniti nesciunt sapiente corrupti dicta mollitia repellendus earum voluptatem in! Enim sequi libero
    officiis illo voluptatibus praesentium quod, exercitationem beatae magni laudantium repellendus. Debitis expedita
    nemo deleniti harum, hic quasi itaque accusamus eligendi praesentium aperiam autem nulla veritatis a, magni est
    repudiandae doloremque id voluptates ab, nihil excepturi. Rerum soluta magni veniam repellendus nesciunt itaque
    impedit porro nostrum asperiores assumenda recusandae similique, velit voluptate, voluptatum omnis odit qui quisquam
    commodi delectus id. Consequatur reiciendis facere necessitatibus, dolor nobis odio. Accusantium, culpa. Sint, alias
    assumenda ex accusamus doloribus illo unde et minus eum perspiciatis aliquid dignissimos laboriosam aspernatur quo
    optio quisquam nostrum magni ipsum dolorem repellat itaque iure possimus error. Nam mollitia accusantium placeat
    commodi ab quasi odit ipsa pariatur numquam voluptatibus, repellendus distinctio dicta corporis repellat ipsum atque
    eaque debitis cupiditate laboriosam doloremque fugit nobis officiis architecto expedita! Alias distinctio fugit
    mollitia sunt voluptatum suscipit expedita cum eaque aspernatur, quidem excepturi, odit animi veritatis voluptas.
    Ducimus sit maiores dolore enim reiciendis, ut consequuntur labore nihil maxime dolores beatae provident quidem
    vitae praesentium cumque hic? Error repellat repellendus nisi? Iure ipsa expedita mollitia commodi, exercitationem
    minima repellendus quibusdam similique veniam dolore asperiores ullam obcaecati aliquam laborum ipsum fugit nam in
    aliquid earum molestiae voluptas unde. Possimus saepe fugit laboriosam corporis ex animi similique, deserunt
    delectus placeat? Qui a quae quas, quia minima eius! Incidunt, quasi ipsam expedita sequi quos facere inventore
    necessitatibus iure. Maxime nostrum nemo officia inventore impedit possimus, perferendis amet velit odit fugit.
    Incidunt dolorum, nihil fuga illum sunt ipsum magni quos atque nemo neque numquam ratione, quam officiis,
    necessitatibus velit! Fugit quibusdam recusandae eaque voluptatibus labore unde vel modi iusto, accusantium
    consequuntur nesciunt eveniet blanditiis excepturi veritatis architecto autem nisi reprehenderit veniam a? Illum
    quaerat quidem voluptates vel soluta ullam eius itaque. Unde dolore beatae tempora similique, sunt tenetur quae.
    Consequatur, commodi. Quas, reprehenderit? Nemo alias inventore quas aperiam aliquam explicabo consectetur officia.
    Dolorem, soluta.</P>
</div>